{% extends 'base.html.twig' %}

{% block body %}
<h2>To jest strona o nas!</h2>
    <p>
        Boil mild margerines in an ice blender with ketchup for about an hour to soothe their viscosity.
    </p>
    <p>
        The energy of experiencing individuals is unbiased.
    </p>
    <p>
        Cur vortex ridetis?
    </p>

{% endblock %}

{% block title %}
Strona o nas :}
{% endblock %}

