{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Hello World!</h1>
    <img src="{{ asset('img/deska.jpg') }}" alt="obrazek" />
    <p>
        Evil, gutless sharks cowardly trade a cold, undead whale. Observare inciviliter ducunt ad albus hydra.
    </p>
    <p>
        Saga, scutum, et idoleum. Cum mineralis cadunt, omnes turpises promissio primus, dexter fraticinidaes.
    </p>
    <p>
        The spacecraft is more queen now than ship. devastated and nosily carnivorous.
    </p>

{% endblock %}