{% extends 'base.html.twig' %}

{% block body %}
    <h1>Games</h1>

    <div id="games">
        <ul>
            {% for game in games %}
                <li>{{ game.name }} - <a href="{{ path('app_game_show', {'id': game.id}) }}">details</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}


